langchain
langgraph
langchain_community
python-dotenv
langchain_groq
openai
pinecone
tiktoken
chromadb
langflow
fastapi
uvicorn
transformers
torch
pinecone
sentence-transformers
sentencepiece
accelerate
langchain
langchain-community
plotly
pandas
huggingface_hub
